<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>notice</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h2>게시글 목록</h2>
    <table class="notice_list">
        <colgroup>
            <col width="15%"/>
            <col width="*"/>
            <col width="15%"/>
            <col width="20%"/>
        </colgroup>
        <thead>
        <tr>
            <th scope="col">글번호</th>
            <th scope="col">제목</th>
            <th scope="col">조회수</th>
            <th scope="col">작성일</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${#lists.size(list)} > 0" th:each="list : ${list}">
            <td th:text="${list.noticeIdx}"></td>
            <td class="title"><a href="/api/notice/" th:attrappend="href=${list.noticeIdx}" th:text="${list.title}"></a></td>
            <td th:text="${list.hitCnt}"></td>
            <td th:text="${list.createdDatetime}"></td>
        </tr>
        <tr th:unless="${#lists.size(list)} > 0">
            <td colspan="4">조회된 결과가 없습니다.</td>
        </tr>

        <!-- TEST Data 입력 -->
       <!-- <tr th:each="i: ${#numbers.sequence(1, 10)}">
            <td th:text="${i}"></td>
            <td th:text="제목 + ${i}"></td>
            <td th:text="0"></td>
            <td th:text="${#calendars.format(#calendars.createNow(), 'yyyy-MM-dd HH:mm:ss')}"></td>
        </tr>-->
        </tbody>
    </table>
    <a href="/api/notice/write" class="btn">글 쓰기</a>


    <nav class="notice_nav">
        <!-- th:with는 해당 태그를 scope로 갖는 변수를 선언할 수 있게 해주는 속성임.
             start=${T(Math).floor(list.number/10)*10 + 1} : 현재 페이지를 통해 현재 페이지 그룹의 시작 페이지를 구하는 로직.
             last=(${start + 9 < list.totalPages ? start + 9 : list.totalPages}) : 전체 페이지 수와 현재 페이지 그룹의 시작 페이지를 통해 현재 페이지 그룹의 마지막 페이지를 구하는 로직.
        -->
        <ul class="pagination"
            th:with="start=${T(Math).floor(list.number/10)*10 + 1},
                    last=(${start + 9 < list.totalPages ? start + 9 : list.totalPages})">

            <li>
                <a th:href="@{/api/notice(page=1)}" aria-label="First">
                    <span aria-hidden="true">First</span>
                </a>
            </li>

            <!-- th:class는 위에 보이는 것처럼 조건을 통해 class를 지정할 수 있다. 현재 페이지가 첫번째 페이지면 disabled를 걸어놓음.
                 th:href 역시 조건을 통해 href를 지정할 수 있는데 위에서는 삼항연산자를 사용하였다. 첫 페이지라면 href에 #을 지정하고 아니라면 현재 페이지의 page number를 지정한다.
                 현재 페이지의 page number를 지정하는 이유는 page number는 index 처럼 0에서 시작하기 때문에 (현재 페이지 - 1)이 자동으로 적용된다.
            -->
            <li th:class="${list.first} ? 'disabled'">
                <a th:href="${list.first} ? '#' :@{/api/notice(page=${list.number})}" aria-label="Previous">
                    <span aria-hidden="true">&lt;</span>
                </a>
            </li>

            <!-- th:ech를 사용해서 현재 페이지 그룹의 페이지를 나열한다.
                 th:class 속성에서 현재페이지일 경우 'active' class를 추가하는 로직이 있다.
            -->
            <li th:each="page: ${#numbers.sequence(start, last)}" th:class="${page == list.number + 1} ? 'active'">
                <a th:text="${page}" th:href="@{/api/notice(page=${page})}"></a>
            </li>

            <li th:class="${list.last} ? 'disabled'">
                <a th:href="${list.last} ? '#' : @{/api/notice(page=${list.number + 2})}" aria-label="Next">
                    <span aria-hidden="true">&gt;</span>
                </a>
            </li>

            <li>
                <a th:href="@{/api/notice(page=${list.totalPages})}" aria-label="Last">
                    <span aria-hidden="true">Last</span>
                </a>
            </li>
        </ul>
    </nav>

</div>
</body>
</html>